<!doctype html>
<html>
    <head>
        <title>Chess</title>
        <link rel="shortcut icon" href="#"/>
        <style type="text/css">
            /*canvas {
                border: 1px solid black;
            } 
            */
            body {
                margin: 0;
                border: 0;
                background-color: #161512
            }  
        </style>
    </head>
    
    <body>
        <h1 style="color:red;"></h1>
        <canvas id="board" class="canvas"> </canvas>
        <canvas id="marks" class="canvas"> </canvas>
        <canvas id="animations" class="canvas"> </canvas>
        <canvas id="pieces" class="canvas"> </canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src="/static/classes.js"></script>
        <script src="/static/settings.js"></script>
        <script src="/static/functions.js"></script>
        <script src="/static/index.js"></script>
    </body>
    
</html>
